.counter-text
  text-align center
  margin-bottom 10px

.counter-btns
  display flex
  flex-direction row
  justify-content center
  margin-bottom 10px
  button
    margin auto 10px

.counter-specify
  display flex
  flex-direction row
  justify-content space-around
  margin-bottom 10px
  button
    width 100px
