.echo-container
  display flex
  flex-direction row
  justify-content space-around
  margin-bottom 10px
  button
    width 100px

.echo-result
  display flex
  flex-direction column
  justify-content flex-start
  align-content flex-start
